<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActiveServlet</servlet-name>
    <servlet-class>web.servlet.ActiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveServlet</servlet-name>
    <url-pattern>/active</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <servlet-class>web.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserNameServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>web.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/AdminProductListServlet</url-pattern>
  </servlet-mapping>
</web-app>