<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB002</display-name>
  <listener>
    <listener-class>listener.MyServletContextAttributeListener</listener-class>
  </listener>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  
  <filter>
  	<filter-name>QuickFilter1</filter-name>
  	<filter-class>filter.QuickFilter</filter-class>
  	<init-param>
  		<param-name>aaa</param-name>
  		<param-value>AAA</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>QuickFilter1</filter-name>
  	<url-pattern>/*</url-pattern>
  	<dispatcher>FORWARD</dispatcher>
  </filter-mapping>

  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>servlet.QuickStartServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>www.baidu.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HttpServlet</servlet-name>
    <servlet-class>servlet.HttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServlet</servlet-name>
    <url-pattern>/httpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginServlet.LoginServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>aaa</param-name>
    <param-value>xxxx</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>